<main id="transfer">
  <header>
    <h1>Mein Server</h1>
    <p>Dateiübertragung</p>
  </header>

  <div class="grid" id="transfer_connections">
    <div class="child">
      <h3><i>Verbundender Server</i></h3>
      <form>
        <input placeholder="Ort" type="text" value="/var/www/website">
      </form>

      <table>
        <tr class="table_head">
          <th>Dateiname</th>
          <th>Größe</th>
          <th>Letzte Änderung</th>
          <th>Aktion</th>
        </tr>
      </table>

      <div class="objects">
        <table>
          <tr class="file">
            <td><i class="fas fa-file fa-fw"></i>index.html</td>
            <td>12 KB</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>css</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>js</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>img</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>fontawesome</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="child">
      <h3><i>Lokal</i></h3>
      <form>
        <input placeholder="Ort" type="text" value="Marcel">
      </form>

      <table>
        <tr class="table_head">
          <th>Dateiname</th>
          <th>Größe</th>
          <th>Letzte Änderung</th>
          <th>Aktion</th>
        </tr>
      </table>

      <div class="objects">
        <table>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Bilder</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Desktop</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Dokumente</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Musik</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>OneDrive</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Videos</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Bilder</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Desktop</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Dokumente</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Musik</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>OneDrive</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Videos</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Bilder</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Desktop</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Dokumente</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Musik</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>OneDrive</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Videos</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Bilder</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Desktop</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Dokumente</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Musik</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>OneDrive</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Videos</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Bilder</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Desktop</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Dokumente</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Musik</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>OneDrive</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
          <tr class="file">
            <td><i class="fas fa-folder fa-fw"></i>Videos</td>
            <td>Unbekannt</td>
            <td>15.07.2018, 16:54</td>
            <td><i class="fas fa-times"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="transfer_status">
    <header class="small">
      <h3><i>Übertragungsstatus</i></h3>
      <p>Aktueller Fortschritt der Übertragung</p>
    </header>

    <div id="transfer_controls">
      <i class="fas fa-pause"></i>
      <i class="fas fa-stop"></i>
    </div>

    <div class="grid" id="file_transfer">
      <div class="child">
        <div class="file">
          <p class="filename">index.html</p>
          <div class="progress_indicator">
            <div class="progress_finished" style="width: 56%;"></div>
          </div>
          <div class="progress_percent">
            <p>56%</p>
          </div>
          <div class="file_action">
            <i class="fas fa-times"></i>
            <i class="fas fa-pause"></i>
          </div>
        </div>
        <div class="file">
          <p class="filename">main.css</p>
          <div class="progress_indicator">
            <div class="progress_finished" style="width: 32%;"></div>
          </div>
          <div class="progress_percent">
            <p>32%</p>
          </div>
          <div class="file_action">
            <i class="fas fa-times"></i>
            <i class="fas fa-pause"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
